<a href="https://colab.research.google.com/github/sjb3190/TIL-PLC-/blob/main/9_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#불 자료형과 if 조건문

<center>

|연산자|설명|연산자|설명|
|:-:|:-:|:-:|:-:|
|==|같다|>|크다|
|!=|다르다| <=| 작거나 같다|
|<|작다|>=|크거나 같다|

In [ ]:
print(10 == 100)
result = (10 == 100)
print(result)

False
False

In [ ]:
print(10 != 100)

True

파이썬은 문자열을 가지고 비교연산 사능

In [ ]:
print('고양이' > '나무')    #가나다 순으로 크기를 따짐
print('고양이' < '나무')

False
True

In [ ]:
x = 3
print( 0 <= x < 5)            #변수의 범위 평가 가능

x = 10
print( 0 <= x < 5)

True
False

# if 조건문
if문은 조건에 따라 실행할 코드를 나누는데 사용

```python
if( condition == True):
  #참이면 여기에 있는 코드를 실행
else:
  #거짓이면 여기에 있는 코드를 실행
```

In [ ]:
a = 1
b = 2
print( a > b )       #거짓이므로 false

if ( a > b ):
  print('a > b')
  print('dkdkdkdk')
else:
  print('이 조건(a > b)이 거짓이네')   #이 경우 이므로 텍스트 추출

False
이 조건(a > b)이 거짓이네

##if 조건_표현 끝에 반드시 <font color=red>콜론(:)</font> 사용

In [ ]:
str_n = input('정수를 입력하세요 : ')
int_n = int(str_n)

if int_n > 0:
  print('양수')

if int_n < 0:
  print('음수')

if int_n == 0:
  print('0')

정수를 입력하세요 : 123
양수

In [ ]:
s_number = input('임의의 양의 정수를 입력하세요 : ')
i_num = int( s_number[-1] )   #1의 자리수

if i_num % 2 == 0:
  print("'짝수'")

if i_num % 2 == 1:
  print("'홀수'")

임의의 양의 정수를 입력하세요 : 123
'홀수'

## if ~ else와 elif 구문

if ~else~ 형태의 조건에 따라 실행코드 변경을 지시할 일도 많지만 이 형태는 둘중 하나의 작업을 실행하는 경우

elif는 보다 많은 경우가 있을때 사용

In [ ]:
s_month = input('지금 몇 월 달입니까? ')
month = int( s_month )

if 1 <= month <= 3:
  print("1분기")
elif 4 <= month <= 6:
  print("2분기")
elif 7 <= month <= 9:
  print("3분기")
else:
  print("4분기")

지금 몇 월 달입니까? 5
2분기

좀더 효율적으로 사용하기

In [ ]:
score = input('점수를 입력하세요(0~100점) : ')
i_score = int( score )

if i_score >= 90:
  print('우수')
elif i_score >= 80:
  print('양호')
elif i_score >= 70:
  print('중간')
elif i_score >= 60:
  print('미흡')
else:
  print('...')

점수를 입력하세요(0~100점) : 12
...

In [ ]:
condition = 3 > 2
print('조건 :', condition)

if condition:
  print('조건이 True네요')
else:
  print('조건이 False네요')

조건 : True
조건이 True네요

####<font color=blue>Quiz</font>

등수에 따라 상품이 있습니다.
3등은 상품권 5만원, 2등은 3등상품에 핸드폰, 1등은 2등상품에 노트북

등수를 입력하면 상품이 출력되도록 코드작성

In [ ]:
s = input('몇등 하셨나요?')
s = int(s)

if s <= 3 :
  print('상품권 5만원')
if s <= 2 :
  print('핸드폰')
if s ==1 :
  print('노트북')

몇등 하셨나요?2
상품권 5만원
핸드폰

####<font color=blue>Quiz</font>
지난 주말에 식물원에 다녀왔습니다. 입장료를 받더군요.
어린이는 만 7세 미만은 무료이고 만 7세부터 만 12세까지는 2,000원
만 12세 이상부터 만 18세 미만까지는 4,000원,
만 18세부터 만 64세 미만까지는 8,000원,
만 65세 이상은 무료였습니다.

<center>

|나이|요금|
|:-:|:-:|
|0~7세 미만|무료|
|7~12세 미만|2,000|
|12~18세 미만|4,000|
|18~65세 미만|8,000|
|65세 이상| 무료|

</center>


만 나이를 입력하면 나이에 맞는 이용료를 출력하는 프로그램을 작성하세요.

In [ ]:
age = int (input('나이를 입력하세요'))

if age < 7:
  price = '무료'
elif age <= 12:
  price = 2000
elif age < 18:
  price = 4000
elif age < 64:
  price = 8000
else:
  price = '무료'

print('만 나이가 {}인 당신의 요금은 {}원 입니다'.format(age,price))

나이를 입력하세요52
만 나이가 52인 당신의 요금은 8000원 입니다

####<font color=blue>Quiz </font>
점수에 따라 A, B, C, D, F 학점을 부여하려고 합니다.

90\~100은 A, 즉 100점을 포함한 90점대

80\~90 미만까지는 B, 즉 80점대

70\~80 미만까지는 C, 즉 70점대

60\~70 미만까지는 D, 즉 60점대

0\~60 미만은 F

실수형태로 점수를 입력 받아서 A, B, C, D, F를 출력하는 코드를 작성하시오.  
예를 들어, 점수가 82.4인 경우 B 학점입니다.

In [ ]:
score = float(input('점수를 입력하세요'))   #float는 실수

if score < 60:
  grade = 'F'
elif score < 70:
  grade = 'D'
elif score < 80:
  grade = 'C'
elif score < 90:
  grade = 'B'
else:
  grade = 'A'

print(grade)

점수를 입력하세요78.41564
C

#반복문

##리스트와 반복문

In [ ]:
list_a = [1, 2, 3.14, 4]  #숫자로만 구성된 리스트
list_b = ['a','b','c'] #문자로 이루어진 리스트

print(list_a)
print(list_b)

[1, 2, 3.14, 4]
['a', 'b', 'c']

In [ ]:
print(list_a[0])  # list_a에서 첫번째 데이터 뽑기

1

In [ ]:
name_list = ['손흥민','김민재','이강인','이승우']

print(name_list[1])           #이름 리스트의 두번째 데이터
print(name_list[1][1])        #두번째 데이터의 두번째글자

김민재
민

In [ ]:
list = ['a','b',['c','d'],'e']      #리스트 접근 연산자를 이중으로 사용가능

print(list[1])
print(list[2])
print(list[2][0])

b
['c', 'd']
c

##리스트 연결하기 : 연결(+), 반복(*), len()

In [ ]:
list_x = [1, 3.1415, 'abc']
list_y = ['girl', 'boy']

list_z = list_x + list_y

print(list_z)

[1, 3.1415, 'abc', 'girl', 'boy']

In [ ]:
[1, 2, 3] * 3        # 결합된 리스트 하나 생성

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
len( [1, 2, 3] )   #리스트의 길이(요소의 개수)

3

###리스트에 요소 추가하기 : append(), insert()

In [ ]:
a = [1, 2, 3]
a.append('asd')
print(a)

[1, 2, 3, 'asd']

In [ ]:
lst = [1, 2, 3]
lst.insert(0, 3)    # lst의 인덱스 0 위치에 숫자 데이터 3을 끼워넣어라라
print( lst )

[3, 1, 2, 3]

## append() 나 insert()는 결국 요소 하나를 리스트에 추가

## 여러 요소를 추가 하려면 extend()를 사용

In [ ]:
lst = [1, 2, 3]
lst.extend([4, 5, 6])
print(lst)

[1, 2, 3, 4, 5, 6]

####<font color=blue><ins>리스트 연결 연산자 +와 extend()함수의 차이</ins></font>

In [ ]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_c = list_a + list_b

print( list_a + list_b)   # 비파괴적 처리
print( list_c )

print( list_a )      ## list_a는 그대로 남는다

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [ ]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

list_a.extend(list_b)  # 파괴적 처리

print( list_a )       ## list_a가 변한다

[1, 2, 3, 4, 5, 6]

###리스트의 요소 제거하기

####인덱스로 제거하기: del 키워드, pop()

In [ ]:
lst = [1, 2, 3, 4, 5]

del lst[1]         #lst에서 두밴째 요소 없애기
print( lst )

[1, 3, 4, 5]

In [ ]:
lst = [1, 2, 3, 4, 5]

lst.pop(2)       #lst에서 3번째 요소 없애기

print( lst )

[1, 2, 4, 5]

In [ ]:
lst = [1, 2, 3, 4, 5]

pop_data = lst.pop(0)   # 리스트의 맨 앞 요소를 빼서
lst.append(pop_data)    # 리스트의 맨 뒤에 붙이기기

pop_data = lst.pop(0)
lst.append(pop_data)

print( lst )

[3, 4, 5, 1, 2]

In [ ]:
lst = ['a', 'b', 'c', 'd', 'e']
print( lst[0:5:2] )    #인덱스 0부터 5까지 증감폭 2로 추출

['a', 'c', 'e']

##리스트 정렬하기 : sort()

In [ ]:
lst = [1, 3, 2, 0, 4, 5]
lst.sort()
print( lst )

[0, 1, 2, 3, 4, 5]

In [ ]:
lst = ['케인', '손흥민', '에릭센', '알리']
lst.sort()
print(lst)               #가나다순 정렬

['손흥민', '알리', '에릭센', '케인']

## 리스트 내부에 있는지 확인하기 : in/not in 연산자

In [ ]:
lst = ['케인', '손흥민', '에릭센', '알리']
print('케인'in lst)

True

In [ ]:
Tottenham = ['케인', '손흥민', '에릭센', '알리']
FW = '케인'
if FW in Tottenham :
  print('{}은 토트넘 공격수 입니다'.format(FW))
else:
  print('{}은 토트넘 공격수가 아닙니다'.format(FW))

케인은 토트넘 공격수 입니다

##for 반복문

In [ ]:
for i in [0, 1, 2]:  #리스트 형 데이터 [0, 1, 2] 안에 있는 각각의 요소에 대해서 각각의 요소를 프린트
  print(i)

0
1
2

In [ ]:
list_a = [1, 2, 3.14, 4]  #숫자로만 구성된 리스트
list_b = ['a','b','c'] #문자로 이루어진 리스트

print(list_a)
print(list_b)

[1, 2, 3.14, 4]
['a', 'b', 'c']

구구단을 완성해보자

In [ ]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
  print('2 x {} = {}'.format(i, 2*i))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
for i in range(1,10):
  print('2 x {} = {}'.format(i, 2*i))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
for i in range(1,10):
  for j in range(2,10):
    print('{} x {} = {}\t'.format(j,i, j*i), end='')  ## end=''은 결과 옆으로 넘기기
  print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

##딕셔너리와 반복문

딕셔너리 선언하기

In [ ]:
a_dic = {
    'name' : '손흥민',
    'team' : 'Tottenham',
    'position' : 'FW'
}

print(a_dic)

{'name': '손흥민', 'team': 'Tottenham', 'position': 'FW'}

In [ ]:
print(a_dic['name'])

손흥민

###딕셔너리에 값 추가하기/제거하기

딕셔너리_이름[새로운 키] = 새로운 값

In [ ]:
a_dic = {
    'name' : '손흥민',
    'team' : 'Tottenham',
    'position' : 'FW'
}
a_dic['age'] = '30'         # 나이 추가


print(a_dic)

{'name': '손흥민', 'team': 'Tottenham', 'position': 'FW', 'age': '30'}

In [ ]:
a_dic = {
    'name' : '손흥민',
    'team' : 'Tottenham',
    'position' : 'FW'
}
a_dic['age'] = '30'

del a_dic['name']   # 이름 제거


print(a_dic)

{'team': 'Tottenham', 'position': 'FW', 'age': '30'}

### for 반복문 : 딕셔너리와 함께 사용하기

In [ ]:
a_dic = {
    'name' : '손흥민',
    'team' : 'Tottenham',
    'position' : 'FW',
    'age' : '30'
}

print(a_dic)

print()
print()

for key in a_dic :
  print(key, ":", a_dic[key])

{'name': '손흥민', 'team': 'Tottenham', 'position': 'FW', 'age': '30'}


name : 손흥민
team : Tottenham
position : FW
age : 30

## for 반복문 : 범위와 함께 사용하기

In [ ]:
for index in range(0, 11):
  print(index)

0
1
2
3
4
5
6
7
8
9
10

### While 반복문

몇번 반복할지 명확할때 for, 어떤 조건이 충족되는 동안 계속 반복할 경우 While

In [ ]:
count = 0
# 조건(condition), count < 10가 만족하면 무한히 반복 수행합니다.
while count < 10:
  print('{}번째 작업 중입니다.'.format(count))
  count += 1      # count = count + 1

print('종료')

0번째 작업 중입니다.
1번째 작업 중입니다.
2번째 작업 중입니다.
3번째 작업 중입니다.
4번째 작업 중입니다.
5번째 작업 중입니다.
6번째 작업 중입니다.
7번째 작업 중입니다.
8번째 작업 중입니다.
9번째 작업 중입니다.
종료