<a href="https://colab.research.google.com/github/sjb3190/TIL-PLC-/blob/main/9_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##자료형 확인하기

In [1]:
print(type("안녕"))                    ### str =string = 문자열 형태의 데이터라는뜻

<class 'str'>

In [2]:
print(type(123))                      ### int = integer = 정수형 데이터

<class 'int'>

##문자열 만들기

In [3]:
print("안녕")

안녕

###문자열 내부에 따옴표 넣기

In [5]:
print("나는 '심정보' 입니다")
print('나는 "심정보" 입니다')

나는 '심정보' 입니다
나는 "심정보" 입니다

###다양한 이스케이프 문자

- \n : 줄바꿈
- \t : 탭

In [9]:
print("나는\n심정보\n입니다")
print("----------")
print("나는\t심정보\t입니다")

나는
심정보
입니다
----------
나는	심정보	입니다

### 문자열 연결 연산자 :  +

In [13]:
print("심"+"정보")  ## 공백 없음

print("심","정보")  ## 공백 있음

print("오늘은" + 21 + "도 입니다")                 ## 문자열은 문자열만 연결 할 수 있음

심정보
심 정보

TypeError: ignored

###문자열 선택 연산자 (인덱싱) : []

In [23]:
print("나는 심정보 입니다"[1])          ## 첫번째는 글자는 0부터 시작함
print("나는 심정보 입니다"[-1])         ## -1부터 선택하여 마지막 글자 선택 할 수 있음
print("나는 심정보 입니다"[3:6])        ## :를 이용하여 범위로 선택하여 추출할 수 있음
print("나는 심정보 입니다"[3:])         ## :전,후를 생략하여 처음부터 혹은 끝까지 추출 할 수 있음
print("나는 심정보 입니다"[:3])

는
다
심정보
심정보 입니다
나는

## 숫자

In [25]:
print(type(3))     ## int는 정수
print(type(3.14))  ## float는 실수

<class 'int'>
<class 'float'>

### 사칙연산

In [32]:
print(4+2)
print(4-2)
print(4*2)
print(4/2)

print(5//2) #몫만 반환
print(5%2)  #나머지 연산자
print(2**4) #제곱 연산자 (2의4제곱)

6
2
8
2.0
2
1
16

###변수와 입력

In [38]:
x = 12.34
print(x+1)

13.34

In [40]:
x="심"
print(x+"(정보)")

심(정보)

###복합 대입 연산자

<center>  

|연산자 이름|설명|
|:-:|:-:|
|+=|숫자 덧셈 후 대입|
|-=|숫자 뺄셈 후 대입|
|*=|숫자 곱셈 후 대입|
|/=|숫자 나눗셈 후 대입|
|%=|숫자의 나머지를 구한 후 대입|
|**=|숫자 제곱 후 대입|

</center>

In [45]:
x=10
x += 30
print(x)

x -= 5
print(x)

x *= 2
print(x)

x /= 7
print(x)

x **= 2
print(x)

40
35
70
10.0
100.0

### 사용자 입력 : input()

In [48]:
input("당신의 이름을 입력하시오:")

당신의 이름을 입력하시오:심정보

'심정보'

In [49]:
value = input("당신의 이름을 입력하시오:")
print(value)

당신의 이름을 입력하시오:심정보
심정보

### 숫자를 문자열로 바꾸기

In [52]:
print("오늘은" + str(25)+ "도 입니다")        ## 정수인 25를 문자열로 바꾸어 실행이 가능

오늘은25도 입니다

###문자열의 format() 함수

In [59]:
print('오늘은  {}도 입니다'.format(25))         ## format ()에 있는게 {}로 들어간다 생각

teperature = 24
print('오늘은  {}도 입니다'.format(teperature))  ## 문자로 치환하여 대입가능

print('오늘은 {}도 내일은 {}도 입니다'.format(24,23))  ## 여러개 쓸 수 있음

오늘은  25도 입니다
오늘은  24도 입니다
오늘은 24도 내일은 23도 입니다

###문자열 양옆의 공백 제거하기:strip()

In [61]:
price = "    100,000원 "
print(price)
print(price.strip())

    100,000원
100,000원

###문자열과 in 연산자

In [68]:
'심정보' in '나는 심정보 입니다'

True

In [71]:
'심' in '나는 심정보 입니다'

True

###문자열 자르기:split()

In [73]:
hobby = "등산,축구,게임"
print(hobby)
print(hobby.split(','))

등산,축구,게임
['등산', '축구', '게임']

###문자 대체 :replace()

In [80]:
name = "sim, jeong-bo"

name = name.replace('-',',')  ## (-)를 (,)로 바꾼다
print(name)
name = name.replace(',','-')  ## (,)를 (-)로 바꾼다
print(name)

sim, jeong,bo
sim- jeong-bo